<div class="animate__animated animate__fadeIn animate__faster">
    <h2>By Capital</h2>
    <hr>
    <div class="row" > 
        <div class="col">
            <app-country-input
                (onEnter)="search( $event )"
                (onDebounce)="suggestions( $event )"
                placeholder="Search Capital..."></app-country-input>
        </div>
    </div>
    <hr>
</div>

<div *ngIf="isError" class="alert alert-danger mt-4" >
    <label for="">no one term related to  {{ term }} could be found</label>
</div>

<hr>

<div class="row" *ngIf="countries.length > 0">
    <div class="col" >
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
